<div class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
    <button class="btn btn-outline-success">Buscar</button>
    <span class="badge badge-info"> {{filtroLista}}</span>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imagemUrl}}" [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem" />
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>&nbsp;
        <!--{{evento.lotes | json}}-->
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" (click)="openModal(template)"><i class="fa fa-edit"
              tooltip="Editar"></i> </button>
          <button class="btn btn-sm btn-danger" (click)="openModal(template)"> <i class="fa fa-eraser"
              tooltip="Excluir"></i> </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados || eventosFiltrados.length==0">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>